*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-box{
    background-image: url(images/counter_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 0px 80px;
}
.grid-box .grid-box-p{
    padding: 50px 0px;
}
.grid-box .grid-counts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
}
.grid-box .grid-counts h1{
    font-size: 50px;
    color: white;
}
.grid-box .grid-counts p{
    color: white;
    font-size: 22px;
}

/* ================ media query =============== */
@media (max-width:576px) {
    .container{
        margin: 0px 20px;
    }
    .grid-box .grid-counts{
        grid-template-columns: repeat(1,1fr);
        justify-items: left;
    }
}
@media (min-width:576px) {
    .container{
        margin: 0px 30px;
    }
    .grid-box .grid-counts{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    
}
@media (min-width:768px) {
    .container{
        margin: 0px 50px;
    }
    .grid-box .grid-counts{
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
}
@media (min-width:992px) {
    .container{
        margin: 0px 80px;
    }
}
@media (min-width:1200px) {
    
}